@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
}

.add-btn {
    height: 2em;
    margin-left: auto;
    margin-right: 5%;
    transition: .3s;
}

.add-btn:hover {
    scale: 1.2;
}

.background {
    background-color: rgba(0, 0, 0, .4);
    display: none;
    height: 100%;
    position: fixed;
    top: 0%;
    width: 100%;
}

.book-form {
    display: flex;
    flex-direction: column;
}

.card {
    align-items: center;
    background-color: #fefae0;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    overflow: auto;
}

.card p {
    font-size: 1.1rem;
}

.card button {
    background-color: #d4a373;
    border: none;
    border-radius: 12px;
    margin: 15px;
    margin-bottom: 0px;
    padding: 8px 24px;
    transition: .2s;
}

.card button:hover {
    scale: 1.1;
}

.close {
    height: 1.1em;
    position: absolute;
    right: 4%;
    top: 4%;
    transition: .1s;
}

.close:hover {
    scale: 1.2;
}

.footer {
    align-items: center;
    background-color: #CCD5AE;
    display: flex;
    justify-content: center;
}

.main {
    background-color: #E9EDC9;
    display: grid;
    gap: 50px;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(4, 400px);
    justify-content: center;
    overflow: auto;
    padding: 50px;
    row-gap: 50px;
}

.nav {
    align-items: center;
    background-color: #CCD5AE;
    display: flex;
    padding:16px;
}

.nav h1 {
    margin-left: 5%;
}

.nav-icon {
    height: 2em;
    margin-left: 8px;
}

.popup-form {
    background-color: #fefae0;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .4);
    display: none;
    height: fit-content;
    left: 50%;
    padding: 32px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.popup-form button {
    background-color: #d4a373;
    border: none;
    border-radius: 12px;
    padding: 8px;
    transition: .2s;
}

.popup-form button:hover {
    scale: 1.1;
}

.popup-form form div {
    margin-bottom: 16px;
}

.popup-form input {
    border: solid .5px;
    border-radius: 12px;
    box-sizing: border-box;
    display: block;
    padding: 2px 15px;
    width: 100%;
}

.popup-form select {
    width: 100%;
}

.read {
    color: green;
    text-transform: uppercase;
}

.not-read {
    color: red;
    text-transform: uppercase;
}